@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Welcome</h1>
    <h5>To a random website about countries and cities, made by a dude with 0 knowledge on design. Enjoy!</a>.</h5>
</div>
